// Add any custom Sass & CSS here
body,
h1,
h2,
h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

#fire {
  color: red;
}

.row {
  max-width: none;
}

.code {
  background-color: #147cc0;
  height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  .code-box {
    width: 100%;
    flex: 100;
  }
  .code-toolbar {
    flex: 1;
    background-color: #cacaca;
    margin-bottom: 0;
    bottom: 0;
    // position: fixed;
    width: 100%;
    padding: 0.9375rem;

    .icons {
      text-align: center;
    }
  }
}

form {
  display: inline;
}

.chat {
  background-color: #3adb76;
  height: 100vh;

  button:focus {
      outline:0;
    }

  .chat-toolbar {
    background-color: #3c3c3c;
    padding: 0.9375rem;
  }
  .chat-msg {
    background-color: #da3116;
    height: calc(100vh - 134px);
  }
  .chat-input {
    padding-top: 0.9375rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    background-color: #cc8b00;

    textarea {
      resize: none;
    }
  }
  .input-group-button {
    padding-left: 0.9375rem;
  }
}

.message-time {
  font-size: rem-calc(12);
}