<div class="row">
  <div class="columns small-6 small-offset-3">
    <div ng-show="!roomId">
      <h1 class="text-center">Start A Room</h1>
      <form novalidate name="roomForm" ng-submit="createRoom(roomForm.$valid)">
        <label>
          <input type="text" name="username" placeholder="Username" required ng-model="username" ng-class="{'invalid-input':roomForm.username.$invalid && submitted}">
          <p ng-show="roomForm.username.$invalid && submitted" class="help-text-invalid help-text">Username is required.</p>
        </label>
        <label>
          <input type="text" name="name" placeholder="Room Name" required ng-model="roomName" ng-class="{'invalid-input':roomForm.roomName.$invalid && submitted}">
          <p ng-show="roomForm.roomName.$invalid && submitted" class="help-text-invalid help-text">Roomname is required.</p>
        </label>
        <label>
          <input type="text" name="roomPassword" placeholder="Room Password" ng-model="roomPassword" ng-class="{'invalid-input':roomForm.username.$invalid && submitted}">
          <!-- <p ng&#45;show="roomForm.username.$invalid &#38;&#38; submitted" class="help&#45;text&#45;invalid help&#45;text">Username is required.</p> -->
        </label>
        <button class="hollow button" type="submit">Start</button>
        <p ng-show="hasError" class="alert callout">Error: {{error}}</p>
      </form>
    </div>
    <div ng-show="roomId">
      <h1 class="text-center">Join A Room</h1>
      <form novalidate name="roomForm" ng-submit="joinRoom(roomForm.$valid)">
        <label>
          <input type="text" name="username" placeholder="Username" required ng-model="username" ng-class="{'invalid-input':roomForm.username.$invalid && submitted}">
          <p ng-show="roomForm.username.$invalid && submitted" class="help-text-invalid help-text">Username is required.</p>
        </label>

        <label>
          <input type="text" name="roomPassword" placeholder="Room Password" ng-model="roomPassword" ng-class="{'invalid-input':roomForm.username.$invalid && submitted}">
        </label>

        <button class="hollow button" type="submit">Join</button>
        <p ng-show="hasError" class="alert callout">Error: {{error}}</p>
      </form>
    </div>
  </div>
</div>
