<div class="row">
    <div class="medium-8 large-8 columns code">
        <div class="code-box">
            <div class="cm-container" ui-codemirror="{ onLoad : codemirrorLoaded }" ui-codemirror-opts="editorOptions" ui-refresh="language"></div>
        </div>

        <div class="code-toolbar">
            <div class="row">
                <div class="medium-12 columns">
                    <div class="row">
                        <div class="medium-12 large-6 columns">
                            <select ng-model="language" ng-change="changeLanguage()">
                                <option value="python">Python</option>
                                <option value="javascript">Javascript</option>
                                <option value="go">Go</option>
                                <option value="haskell">Haskell</option>
                            </select>
                        </div>
                        <div class="medium-12 large-6 columns icons">

                            <!--<div class="button-group">-->
                                <!--<button type="button" class="button"><i class="fa fa-plus" aria-hidden="true"></i></button>-->
                                <!--<button type="button" class="button"><i class="fa fa-minus" aria-hidden="true"></i></button>-->
                                <!--<button type="button" class="button"><i class="fa fa-upload" aria-hidden="true"></i></button>-->
                                <!--<button type="button" class="button"><i class="fa fa-download" aria-hidden="true"></i></button>-->
                                <!--<button type="button" class="button"><i class="fa fa-undo" aria-hidden="true"></i></button>-->
                                <!--<button type="button" class="button"><i class="fa fa-repeat" aria-hidden="true"></i></button>-->
                                <!--<button type="button" class="button"><i class="fa fa-play" aria-hidden="true"></i></button>-->


                                <a href=""><i class="fa fa-plus fa-lg" aria-hidden="true"></i></a>
                                <a href=""><i class="fa fa-minus fa-lg" aria-hidden="true"></i></a>
                                <a href=""><i class="fa fa-upload fa-lg" aria-hidden="true"></i></a>
                                <a href=""><i class="fa fa-download fa-lg" aria-hidden="true"></i></a>
                                <a href=""><i class="fa fa-undo fa-lg" aria-hidden="true"></i></a>
                                <a href=""><i class="fa fa-repeat fa-lg" aria-hidden="true"></i></a>
                                <a href=""><i class="fa fa-play fa-lg" aria-hidden="true"></i></a>


                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="medium-4 large-4 columns chat">
        <div class="row">
            <div class="medium-12 columns chat-toolbar">
                <a class="share-link" href="" ng-click="toggleShareLink($event)">
                    <i class="fa fa-user-plus" aria-hidden="true"> </i>
                    <span>  {{room.roomName}}</span>
                </a>
                <select ng-option="username in room.users">{{username}}</select>
            </div>
        </div>


        <div class="row">
            <div class="medium-12 columns chat-msgs" scroll-bottom="messages">
                <br>
                <div class="chat-msg" ng-repeat="message in messages"
                     ng-class="{'current-user': message.userName == username, 'other-user': message.userName != username}">

                    <div class="msg">
                        <strong>{{message.userName}}</strong>
                        <span class="message-time"> {{message.dateCreated | date : "hh:mm a"}}</span>
                        <br>
                        <p>{{message.message}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="medium-12 columns chat-input">
                <form name="msgForm" novalidate ng-submit="sendMsg(msgForm.$valid)">
                    <div class="input-group">
                        <input ng-model="chatMsg" required class="input-group-field" placeholder="Press enter to send message"></input>
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>
